body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
    color: blue;
}
header {
    width: 50%;
}

footer {
    width: 100%;
    font-family: monospace;
    color: black;
    position: absolute;
    bottom: 0;
}